{%extends 'all-pics/base.html'%} 
{% block content %}
<div class="container">

  <div class="row photo" >
    {% if photos%}
      <h2>Found {{ photos|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 photos for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if photos %}
    {% for photos in photos  %}
    <div class="column">  
      <div class="col-sm-6 col-md-3">
        
          <h1>{{photos.name}}</h1>
          <img src="{{photos.image.url}}" alt="ian" height="300" width="300">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
</div>
{% endblock %}